<!--
 * @Description: 
 * @Author: gphper
 * @Date: 2022-03-17 22:23:26
-->
{{define "head"}}
<style>
  body{
      background-color: #fff;
  }
  .error-page {
      height: 100%;
      position: fixed;
      width: 100%;
  }
  .error-body {
      padding-top: 5%;
  }
  .error-body h1 {
      font-size: 210px;
      font-weight: 700;
      text-shadow: 4px 4px 0 #f5f6fa, 6px 6px 0 #e76b23;
      line-height: 210px;
      color: #e26931;
  }
  .error-body h4 {
      margin: 30px 0px;
  }
</style>
{{end}}

{{define "body"}}
<section class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">{{.title}}</h3>
            </div>
            <div class="panel-body">
              <div>
                <p style="word-break:break-all;text-align:left;">Error Msg：</p>
                <p style="word-break:break-all;text-align:left;text-indent: 2em;">{{.error}}</p>
              </div>
              <div>
                <p style="word-break:break-all;text-align:left;">File Path：</p>
                <p style="word-break:break-all;text-align:left;text-indent: 2em;">{{.msg}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>
{{end}}

{{define "script"}}

{{end}}