{{define "head"}}
<style>
  body{
      background-color: #fff;
  }
  .error-page {
      height: 100%;
      position: fixed;
      width: 100%;
  }
  .error-body {
      padding-top: 5%;
  }
  .error-body h1 {
      font-size: 210px;
      font-weight: 700;
      text-shadow: 4px 4px 0 #f5f6fa, 6px 6px 0 #33cabb;
      line-height: 210px;
      color: #33cabb;
  }
  .error-body h4 {
      margin: 30px 0px;
  }
</style>
{{end}}

{{define "body"}}
<section class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1>{{.title}}</h1>
      <h4>很抱歉，但是那个页面看起来已经不存在了。</h4>
      <a href="/admin/home" class="btn btn-primary ">回到首页</a>
    </div>
  </div>
</section>
{{end}}

{{define "script"}}

{{end}}