<!--
 * @Description: 
 * @Author: gphper
 * @Date: 2021-04-18 19:07:55
-->
{{define "head"}}
<link rel="stylesheet" href="/statics/js/layui/css/layui.css">
{{end}}

{{define "body"}}
<div class="container-fluid p-t-15">
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-toolbar clearfix">
            <form role="form" class="form-inline pull-right" method="get">
                <div class="form-group">
                    <label class="sr-only">昵称</label>
                    <input type="text" name="nickname" placeholder="昵称" class="form-control" value="{{.nickname}}">
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <input placeholder="请选择注册时间范围" class="form-control" id="created_at" type="text" name="created_at" value="{{.created_at}}" style="width: 200px;"
                           autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
                <button type="button" class="btn btn-white" onclick="location.href='/admin/setting/adminuser/index'">重置</button>
            </form>
            <div class="toolbar-btn-action">
              {{if judgeContainPriv $.username "/admin/setting/adminuser/add" "get"}}
              <a class="btn btn-primary m-r-5" href="/admin/setting/adminuser/add"><i class="mdi mdi-plus"></i> 新增</a>
              {{end}}
            </div>
          </div>
          <div class="card-body">
            
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>用户ID</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>注册时间</th>
                    <th>角色</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                    {{range .adminUserData.Data}}
                    <tr>
                        <td>{{.Uid}}</td>
                        <td>{{.Username}}</td>
                        <td>{{.Nickname}}</td>
                        <td>{{formatAsDate .CreatedAt "2006-01-02 15:04:05"}}</td>
                        <td>{{.GroupName}}</td>
                        <td>
                          {{if judgeContainPriv $.username "/admin/setting/adminuser/edit" "get"}}
                            <a class="btn btn-xs btn-default" href="/admin/setting/adminuser/edit?id={{.Uid}}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                          {{end}}

                          {{if judgeContainPriv $.username "/admin/setting/adminuser/del" "get"}}
                            <a class="btn btn-xs btn-default ajaxBtn" href="javascript:void(0);" uri="/admin/setting/adminuser/del?id={{.Uid}}" msg="是否删除该内容？" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                          {{end}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
              </table>
            </div>
            {{ .adminUserData.PageHtml }}
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
{{end}}

{{define "script"}}
<script type="text/javascript" src="/statics/js/layui/layui.js"></script>
<script type="text/javascript">
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#created_at',
            range: '~',
            max: 0
        });
    });
</script>
{{end}}