<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>{{.title}}</title>
<link rel="icon" href="favicon.ico" type="image/ico">
<meta name="keywords" content="{{.title}}">
<meta name="description" content="{{.title}}">
<meta name="author" content="yinqi">
<link rel="icon" href="/statics/images/favicon.ico">
<link rel="shortcut icon" href="/statics/images/favicon.ico" type="image/x-icon">
<link href="/statics/css/bootstrap.min.css" rel="stylesheet">
<link href="/statics/css/materialdesignicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/statics/js/bootstrap-multitabs/multitabs.min.css">
<link href="/statics/css/style.min.css" rel="stylesheet">
{{template "head" .}}
</head>
  
<body data-logobg="{{.logo}}" data-headerbg="{{.header}}" data-sidebarbg="{{.sider}}">
{{template "body" .}}

<script type="text/javascript" src="/statics/js/jquery.min.js"></script>
<script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/js/layer/layer.js"></script>
<script type="text/javascript" src="/statics/js/public.js"></script>
<!-- 消息提示 -->
<!-- <script src="/statics/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="/statics/js/lightyear.js"></script>
<script type="text/javascript" src="/statics/js/main.min.js"></script>
<script type="text/javascript">
    function showError(msg){
        lightyear.loading('show');
        // 假设ajax提交操作
        setTimeout(function() {
            lightyear.loading('hide');
            lightyear.notify(msg, 'danger', 100);
        }, 1e3)
    }

    function showSuccess(msg){
        lightyear.loading('show');
        // 假设ajax提交操作
        setTimeout(function() {
            lightyear.loading('hide');
            lightyear.notify(msg, 'success', 3000);
        }, 1e3)
    }
</script> -->

{{template "script" .}}
</body>
</html>